.notification {
    padding: 12px;
    border-radius: 20px;
    background: #d4ffeb;
}

.pos-relative {
    position: relative!important;
    width: 100%;
}

.pos-absolute {
    position: absolute!important;
    width: 100%;
}

.notification-icon-truck img {
    width: 24px;
}

.notification-text {
    padding-left: 10px;
}

.notification-text span {
    font-size: 16px;
}

.rounded-orange {
    background-color: #ffeedd;
    padding: 5px;
    border-radius: 5px;
}

.rounded-orange img {
    width: 32px;
}

.invoice-headline span {
    font-weight: bold;
    font-size: 20px;
}

.invoice-headline img {
    width: 35px;
}

.invoice-headline p {
    font-size: 14px;
}

.detail-status {
    font-size: 12px;
    background-color: #8DB583;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.detail-status-accepted {
    font-size: 12px;
    background-color: #ecd069;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.rounded-title {
    background-color: #F6CC7C;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    width: 170px;
    height: 25px;
}

.rounded-title span {
    top: -18px;
    position: absolute;
    left: -15px;
    font-size: 24px;
}

.description-order span {
    font-size: 14px;
    color: #5F5F5F;
}

.rounded-purple {
    background-color: #E8E8E8;
    padding: 10px;
    border-radius: 10px;
    color: #5F5F5F;
    font-size: 12px;
}

.image-product img {
    width: 100%;
}

.card-detail {
    background-color: #fff;
    border-radius: 10px;
}

.title-product {
    font-size: 14px;
}

.star-construct {
    margin-top: -10px;
}

.star {
    width: 50px;
}